.pg-wrp.rsvpd-pg .bar-bg {
  background: url(../images/bg-4.jpg) center 40% no-repeat;
  background-size: cover; }

.pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt {
  padding: 60px 20px;
  text-align: center;
  overflow-x: scroll; }
  .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .download-csv {
    padding: 10px;
    display: inline-block;
    color: black;
    margin-bottom: 10px; }
  .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .tble-wrp {
    width: 960px;
    margin: 0 auto; }
  .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .title,
  .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .more-money {
    border-bottom: 1px solid lightgrey; }
  .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .title div,
  .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .more-money div {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    font-size: 15px;
    text-align: left; }
    .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .title div.guest_number,
    .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .more-money div.guest_number {
      width: 25px; }
    .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .title div.name, .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .title div.guest_name,
    .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .more-money div.name,
    .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .more-money div.guest_name {
      width: 230px; }
    .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .title div.email,
    .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .more-money div.email {
      width: 220px; }
    .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .title div.is_going, .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .title div.has_guest,
    .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .more-money div.is_going,
    .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .more-money div.has_guest {
      width: 50px; }
      .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .title div.is_going img, .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .title div.has_guest img,
      .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .more-money div.is_going img,
      .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .more-money div.has_guest img {
        width: 15px;
        margin-left: 10px;
        margin-top: 7px; }
    .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .title div.date-rsvpd,
    .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .more-money div.date-rsvpd {
      width: 80px; }
  .pg-wrp.rsvpd-pg .sctn.sctn-1 .cntnt-wrp .cntnt .title div {
    font-weight: bold; }
