/*GLOBAL*/
body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
  /*CUSTOM*/
  /*COLORS*/
  /*FONTS*/ }
  body * {
    box-sizing: border-box; }
  body img,
  body input[type=image] {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none; }
  body img {
    display: block; }
  body p,
  body h1,
  body h2,
  body h3,
  body ul,
  body li,
  body ol {
    margin: 0;
    padding: 0;
    list-style: none; }
  body h1,
  body h2,
  body h3,
  body h4 {
    font-weight: normal; }
  body .ib {
    display: inline-block;
    vertical-align: top; }
  body .bold {
    font-weight: bold; }
  body .normal {
    font-weight: normal; }
  body .up {
    text-transform: uppercase; }
  body .clear {
    clear: both; }
  body .sctn {
    position: relative; }
  body .col-l,
  body .col-m,
  body .col-r,
  body .splt-2,
  body .splt-3 {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  body .splt-3.col-l, body .splt-3.col-m, body .splt-3.col-r {
    width: 32%; }
  body .splt-3.col-m {
    margin: 0 1%; }
  body .col-l,
  body .col-r {
    width: 50%; }
  body .red {
    color: red; }
  body .yellow {
    color: #ffba11; }
  body .l-green {
    color: #34ef32; }
  body .amatic {
    font-family: 'Amatic SC', cursive; }
  body .rouge {
    font-family: 'Rouge Script', cursive; }
  body .open-sans {
    font-family: 'Open Sans', sans-serif; }
    body .open-sans.condensed {
      font-family: 'Open Sans Condensed', sans-serif; }
  body .pg-wrp .sctn .cntnt-wrp .cntnt {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px; }
  body .pg-wrp .sctn.sctn-hdr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: transparent;
    z-index: 111;
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    -ms-transition-duration: .1s;
    -o-transition-duration: .1s;
    transition-duration: .1s; }
    body .pg-wrp .sctn.sctn-hdr .cntnt-wrp .cntnt {
      text-align: center; }
      body .pg-wrp .sctn.sctn-hdr .cntnt-wrp .cntnt .home-link.mob,
      body .pg-wrp .sctn.sctn-hdr .cntnt-wrp .cntnt .hambaga {
        display: none; }
      body .pg-wrp .sctn.sctn-hdr .cntnt-wrp .cntnt ul li {
        display: inline-block;
        vertical-align: top; }
        body .pg-wrp .sctn.sctn-hdr .cntnt-wrp .cntnt ul li a {
          display: block;
          text-decoration: none;
          color: black;
          line-height: 60px;
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 2px;
          padding: 0 10px;
          font-family: 'Open Sans Condensed', sans-serif; }
          body .pg-wrp .sctn.sctn-hdr .cntnt-wrp .cntnt ul li a.home-link {
            font-family: 'Amatic SC', cursive;
            font-size: 30px; }
  body .pg-wrp .sctn.sctn-1 {
    padding-top: 60px; }
  body .pg-wrp .sctn.sctn-2 {
    padding: 50px 0; }
  body .pg-wrp .sctn.sctn-ftr {
    background-color: #f3f2f2; }
    body .pg-wrp .sctn.sctn-ftr .cntnt {
      text-align: center;
      padding: 15px 0; }
      body .pg-wrp .sctn.sctn-ftr .cntnt a {
        color: black;
        text-decoration: none;
        font-size: 14px; }
  body .pg-wrp .cover-bg {
    background-color: rgba(143, 213, 247, 0.2);
    height: 100px; }
    body .pg-wrp .cover-bg h1 {
      font-family: 'Rouge Script', cursive;
      font-size: 70px;
      color: white;
      text-align: center;
      padding: 10px 0;
      text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7); }
  body .pg-wrp.registry-pg .bar-bg {
    background: url(../images/bg-1.jpg) center -300px no-repeat;
    background-size: cover; }
  body .pg-wrp.stuff-pg .bar-bg {
    background: url(../images/bg-2.jpg) center center no-repeat;
    background-size: cover; }
  body .pg-wrp.rsvp-pg .bar-bg {
    background: url(../images/bg-3.jpg) center center no-repeat;
    background-size: cover; }
