body, html {
  height: 100%; }

.pg-wrp.home-pg .sctn .cntnt-wrp .cntnt {
  text-align: center; }
  .pg-wrp.home-pg .sctn .cntnt-wrp .cntnt .title {
    max-width: 450px;
    margin: 0 auto;
    border-bottom: 1px solid lightgrey;
    padding: 0;
    padding-bottom: 10px;
    margin-top: 10px; }
    .pg-wrp.home-pg .sctn .cntnt-wrp .cntnt .title h1 {
      font-size: 40px;
      font-family: 'Rouge Script', cursive; }
  .pg-wrp.home-pg .sctn .cntnt-wrp .cntnt .sub-title {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    margin-bottom: 10px; }
  .pg-wrp.home-pg .sctn .cntnt-wrp .cntnt .link {
    color: black;
    text-decoration: none;
    padding: 0 15px;
    max-width: 450px;
    display: block;
    margin: 0 auto;
    margin-top: 20px; }
    .pg-wrp.home-pg .sctn .cntnt-wrp .cntnt .link:hover {
      color: green; }
    .pg-wrp.home-pg .sctn .cntnt-wrp .cntnt .link p {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 24px;
      line-height: 30px; }
  .pg-wrp.home-pg .sctn .cntnt-wrp .cntnt .sctn-img {
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    width: 250px;
    opacity: .9;
    display: block;
    margin: 0 auto; }
    @media screen and (min-width: 640px) {
      .pg-wrp.home-pg .sctn .cntnt-wrp .cntnt .sctn-img {
        width: 300px; } }

.pg-wrp.home-pg .sctn.sctn-hdr.stuck {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid lightgrey;
  color: black;
  height: 60px;
  -webkit-transition-duration: .1s;
  -moz-transition-duration: .1s;
  -ms-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s;
  text-shadow: none; }
  .pg-wrp.home-pg .sctn.sctn-hdr.stuck .cntnt-wrp .cntnt ul li a {
    color: black;
    text-shadow: none; }
  .pg-wrp.home-pg .sctn.sctn-hdr.stuck .cntnt-wrp .cntnt .home-link.mob {
    color: black;
    text-shadow: none; }
  .pg-wrp.home-pg .sctn.sctn-hdr.stuck .cntnt-wrp .cntnt .hambaga-wrp .hambaga .lines {
    border-bottom: 1px solid black; }
  .pg-wrp.home-pg .sctn.sctn-hdr.stuck.still {
    background-color: rgba(255, 255, 255, 0.9); }
    .pg-wrp.home-pg .sctn.sctn-hdr.stuck.still ul.active li {
      background-color: rgba(255, 255, 255, 0.9); }
      @media screen and (min-width: 640px) {
        .pg-wrp.home-pg .sctn.sctn-hdr.stuck.still ul.active li {
          background-color: transparent; } }

.pg-wrp.home-pg .sctn.sctn-1 {
  padding-top: 0; }
  .pg-wrp.home-pg .sctn.sctn-1 .bg-img {
    /* Full height */ }
    .pg-wrp.home-pg .sctn.sctn-1 .bg-img .ovr-bg {
      background-color: rgba(143, 213, 247, 0.2);
      height: 100vh;
      padding-top: 70px; }
      .pg-wrp.home-pg .sctn.sctn-1 .bg-img .ovr-bg .cntnt {
        text-align: center; }
        .pg-wrp.home-pg .sctn.sctn-1 .bg-img .ovr-bg .cntnt .headlines {
          padding-top: 20%;
          height: 100px;
          text-shadow: 1px 1px 5px black; }
          .pg-wrp.home-pg .sctn.sctn-1 .bg-img .ovr-bg .cntnt .headlines h1 {
            font-family: 'Rouge Script', cursive;
            font-size: 80px;
            line-height: 70px;
            color: white; }
          .pg-wrp.home-pg .sctn.sctn-1 .bg-img .ovr-bg .cntnt .headlines p {
            color: white;
            font-family: 'Amatic SC', cursive;
            font-size: 40px; }
    .pg-wrp.home-pg .sctn.sctn-1 .bg-img.bg-1 {
      background: url(../images/bg-1.jpg) center top no-repeat;
      background-size: cover; }
    .pg-wrp.home-pg .sctn.sctn-1 .bg-img.bg-2 {
      background: url(../images/bg-2.jpg) center top no-repeat;
      background-size: cover; }
      .pg-wrp.home-pg .sctn.sctn-1 .bg-img.bg-2 .ovr-bg .cntnt .headlines h1 {
        font-size: 40px; }
        @media screen and (min-width: 400px) {
          .pg-wrp.home-pg .sctn.sctn-1 .bg-img.bg-2 .ovr-bg .cntnt .headlines h1 {
            font-size: 50px; } }
        @media screen and (min-width: 500px) {
          .pg-wrp.home-pg .sctn.sctn-1 .bg-img.bg-2 .ovr-bg .cntnt .headlines h1 {
            font-size: 65px; } }
        @media screen and (min-width: 640px) {
          .pg-wrp.home-pg .sctn.sctn-1 .bg-img.bg-2 .ovr-bg .cntnt .headlines h1 {
            font-size: 80px; } }
    .pg-wrp.home-pg .sctn.sctn-1 .bg-img.bg-3 {
      background: url(../images/bg-3.jpg) center top no-repeat;
      background-size: cover; }
      .pg-wrp.home-pg .sctn.sctn-1 .bg-img.bg-3 .ovr-bg {
        background-color: rgba(0, 172, 255, 0.2); }

.pg-wrp.home-pg .sctn.sctn-2 .cntnt-wrp, .pg-wrp.home-pg .sctn.sctn-3 .cntnt-wrp, .pg-wrp.home-pg .sctn.sctn-4 .cntnt-wrp {
  padding-top: 50px;
  margin-top: -50px; }
  .pg-wrp.home-pg .sctn.sctn-2 .cntnt-wrp .cntnt, .pg-wrp.home-pg .sctn.sctn-3 .cntnt-wrp .cntnt, .pg-wrp.home-pg .sctn.sctn-4 .cntnt-wrp .cntnt {
    padding-top: 40px;
    padding-bottom: 100px; }

.pg-wrp.home-pg .sctn.sctn-3 .cntnt-wrp .cntnt, .pg-wrp.home-pg .sctn.sctn-4 .cntnt-wrp .cntnt {
  margin-top: 30px;
  padding-bottom: 100px; }

.pg-wrp.home-pg .sctn.sctn-2 .cntnt-wrp .cntnt {
  font-size: 20px;
  margin-top: 30px; }
  .pg-wrp.home-pg .sctn.sctn-2 .cntnt-wrp .cntnt h2 {
    font-size: 20px;
    margin-top: 30px; }

.pg-wrp.home-pg .sctn.sctn-3 {
  background-color: #f6f7f6; }

.pg-wrp.home-pg .sctn.sctn-4 {
  padding-top: 40px; }
  .pg-wrp.home-pg .sctn.sctn-4 .cntnt-wrp .cntnt .title {
    margin-bottom: 20px; }
  .pg-wrp.home-pg .sctn.sctn-4 .cntnt-wrp .cntnt .splt-3 {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    font-size: 15px;
    font-family: 'Open San', sans-serif; }
    @media screen and (min-width: 800px) {
      .pg-wrp.home-pg .sctn.sctn-4 .cntnt-wrp .cntnt .splt-3 {
        display: inline-block;
        vertical-align: top;
        width: 32%; } }
    .pg-wrp.home-pg .sctn.sctn-4 .cntnt-wrp .cntnt .splt-3 p {
      line-height: 25px;
      font-weight: 100; }
      .pg-wrp.home-pg .sctn.sctn-4 .cntnt-wrp .cntnt .splt-3 p a {
        color: black; }
        .pg-wrp.home-pg .sctn.sctn-4 .cntnt-wrp .cntnt .splt-3 p a:hover {
          color: green; }
      .pg-wrp.home-pg .sctn.sctn-4 .cntnt-wrp .cntnt .splt-3 p span {
        display: block;
        line-height: 18px;
        font-size: 13px; }
        .pg-wrp.home-pg .sctn.sctn-4 .cntnt-wrp .cntnt .splt-3 p span.discount {
          cursor: pointer; }
        .pg-wrp.home-pg .sctn.sctn-4 .cntnt-wrp .cntnt .splt-3 p span.hidden-code {
          display: none; }
          .pg-wrp.home-pg .sctn.sctn-4 .cntnt-wrp .cntnt .splt-3 p span.hidden-code.active {
            display: block; }
    .pg-wrp.home-pg .sctn.sctn-4 .cntnt-wrp .cntnt .splt-3.col-r p {
      margin-bottom: 10px; }
