/*GLOBAL*/
body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/

    *{
        box-sizing:border-box;
    }
    img,
    input[type=image]{
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    img{display:block;}

    p,
    h1,
    h2,
    h3,
    h4,
    ul,
    li,
    ol{
        margin:0;
        padding:0;
        list-style:none;
        font-weight:normal;
    }

    /*CUSTOM*/
    .ib{
        display:inline-block;
        vertical-align:top;
    }
    .bold{font-weight:bold;}
    .normal{font-weight:normal;}
    .up{text-transform:uppercase;}
    .clear{clear:both;}
    .sctn{position:relative;}
    .col-l,
    .col-m,
    .col-r,
    .splt-2,
    .splt-3{
        display: inline-block;
        vertical-align: top;
        box-sizing:border-box;
    }
    .splt-3{
        &.col-l,
        &.col-m,
        &.col-r{
            width:32%;
        }
    }
    .splt-3.col-m{
        margin:0 1%;
    }
    .col-l,
    .col-r{
        width:50%;
    }

    /*COLORS*/
    .red{  color:red;  }
    .yellow{  color:#ffba11;  }
    .l-green{  color:#34ef32; }

    /*FONTS*/
    .amatic{
        font-family: 'Amatic SC', cursive;
    }
    .rouge{
        font-family: 'Rouge Script', cursive;
    }
    .open-sans{
        font-family: 'Open Sans', sans-serif;
        
        &.condensed{
            font-family: 'Open Sans Condensed', sans-serif;
        }
    }
    
    // Header
    .pg-wrp{

        .sctn{
            .cntnt-wrp{
                .cntnt{
                    max-width: 1000px;
                    margin: 0 auto;
                    padding: 0 20px;

                }
            }

            &.sctn-hdr{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 65px;
                background-color: transparent;
                z-index: 111;
                -webkit-transition-duration: .1s;
                -moz-transition-duration: .1s;
                -ms-transition-duration: .1s;
                -o-transition-duration: .1s;
                transition-duration: .1s;

                .cntnt-wrp{
                    .cntnt{
                        text-align:center;
                        padding:0;

                        .home-link.mob,
                        .hambaga-wrp{
                            display:block;
                            @media screen and (min-width: 640px) {
                                display:none;
                            }
                        }
                        .home-link{
                            font-family: 'Amatic SC', cursive;
                            font-size: 30px;
                            line-height: 60px;  
                            text-decoration: none;

                            &.mob{
                                color: black;
                            }
                            &.tab{
                                display:none;

                                @media screen and (min-width: 640px) {
                                    display:inline-block;
                                    vertical-align:top;
                                }
                            }
                        }
                        .hambaga-wrp {
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: 60px;
                            width: 50px;

                            .hambaga{
                                height: 30px;
                                width: 30px;
                                margin: 0 auto;
                                margin-top: 13px;
                                padding-top: 5px;
                                cursor: pointer;
                                position:relative;

                                .lines {
                                    border-bottom: 1px solid black;
                                    width: 30px;
                                    margin-top: 5px;

                                    -webkit-transition-duration: .2s;
                                    -moz-transition-duration: .2s;
                                    -ms-transition-duration: .2s;
                                    -o-transition-duration: .2s;
                                    transition-duration: .2s;
                                }

                                &.active{
                                    .lines{
                                        &.line-1,
                                        &.line-3{
                                            position:absolute;
                                            top: 10px;  
                                        }

                                        &.line-1{
                                            -webkit-transform: rotate(45deg);
                                            -moz-transform: rotate(45deg);
                                            -ms-transform: rotate(45deg);
                                            -o-transform: rotate(45deg);
                                            transform: rotate(45deg);
                                            
                                        }
                                        &.line-2{
                                            display:none;
                                        }
                                        &.line-3{
                                            -webkit-transform: rotate(-45deg);
                                            -moz-transform: rotate(-45deg);
                                            -ms-transform: rotate(-45deg);
                                            -o-transform: rotate(-45deg);
                                            transform: rotate(-45deg);
                                        }
                                    }
                                }
                            }
                        }


                        ul{
                            display:none;
                            @media screen and (min-width: 640px) {
                                display:block;
                            }

                            li{
                                display:inline-block;
                                vertical-align:top;
                                @media screen and (min-width: 640px) {
                                   line-height: 60px;  
                                }   

                                a{
                                    display: block;
                                    text-decoration: none;
                                    color: black;
                                    font-size: 16px;
                                    text-transform: uppercase;
                                    letter-spacing: 2px;
                                    padding: 0 7px;

                                    font-family: 'Open Sans Condensed', sans-serif;

                                    @media screen and (min-width: 640px) {
                                        // color: white;
                                    }
                                    @media screen and (min-width: 800px) {
                                        padding: 0 10px;
                                    }
                                    
                                }
                                &.home-link{
                                    a{
                                        font-family: 'Amatic SC', cursive;
                                        font-size: 25px;
                                        @media screen and (min-width: 800px) {
                                            font-size: 30px;
                                        }
                                    }
                                }
                            }

                            &.active{
                                li{
                                    width: 100%;
                                    background-color: rgba(255,255,255,.8);
                                    line-height: 25px;
                                    padding: 5px 0;

                                    @media screen and (min-width: 640px) {
                                        line-height: 60px;
                                        width: auto;
                                        padding: 5px 0;
                                        background-color: transparent;
                                    }
               
                                    &:hover{
                                        background-color: rgba(234, 245, 234,.9);

                                        @media screen and (min-width: 640px) {
                                            background-color: transparent;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }

            &.sctn-1{
                padding-top: 60px;
            }
            &.sctn-2{
                padding: 50px 0;
            }
            &.sctn-ftr{
                background-color: #f3f2f2;

                .cntnt{
                    text-align: center;
                    padding: 15px 0;

                    a{
                        color:black;
                        text-decoration:none;
                        font-size: 14px;
                    }
                }
            }
        }

        .cover-bg{
            background-color: rgba(143, 213, 247, 0.2); 
            height:100px;

            h1{
                font-family: 'Rouge Script', cursive;
                font-size:70px;
                color:white;
                text-align:center;
                padding:10px 0;
                text-shadow: 1px 1px 10px rgba(0,0,0,.7);
            }
        }

        &.registry-pg{
            .bar-bg{
                background:url(../images/bg-1.jpg)center 40% no-repeat;
                background-size:cover;
            }
        }
        &.stuff-pg{
            .bar-bg{
                background:url(../images/bg-2.jpg)center center no-repeat;
                background-size:cover;
            }
        }
        
    }
    
    
}



