/*GLOBAL*/
body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/

    *{
        box-sizing:border-box;
    }
    img,
    input[type=image]{
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    img{display:block;}

    p,
    h1,
    h2,
    h3,
    ul,
    li,
    ol{
        margin:0;
        padding:0;
        list-style:none;
    }

    h1, 
    h2, 
    h3, 
    h4{
        font-weight:normal;
    }

    /*CUSTOM*/
    .ib{
        display:inline-block;
        vertical-align:top;
    }
    .bold{font-weight:bold;}
    .normal{font-weight:normal;}
    .up{text-transform:uppercase;}
    .clear{clear:both;}
    .sctn{position:relative;}
    .col-l,
    .col-m,
    .col-r,
    .splt-2,
    .splt-3{
        display: inline-block;
        vertical-align: top;
        box-sizing:border-box;
    }
    .splt-3{
        &.col-l,
        &.col-m,
        &.col-r{
            width:32%;
        }
    }
    .splt-3.col-m{
        margin:0 1%;
    }
    .col-l,
    .col-r{
        width:50%;
    }

    /*COLORS*/
    .red{  color:red;  }
    .yellow{  color:#ffba11;  }
    .l-green{  color:#34ef32; }

    /*FONTS*/
    .amatic{
        font-family: 'Amatic SC', cursive;
    }
    .rouge{
        font-family: 'Rouge Script', cursive;
    }
    .open-sans{
        font-family: 'Open Sans', sans-serif;
        
        &.condensed{
            font-family: 'Open Sans Condensed', sans-serif;
        }
    }
    
    // Header
    .sctn{
        .cntnt-wrp{
            .cntnt{
                max-width: 1000px;
                margin: 0 auto;
                padding: 0 20px;
            }
        }

        &.sctn-hdr{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 65px;
            background-color: transparent;
            z-index: 111;
            -webkit-transition-duration: .1s;
            -moz-transition-duration: .1s;
            -ms-transition-duration: .1s;
            -o-transition-duration: .1s;
            transition-duration: .1s;

            .cntnt-wrp{
                .cntnt{
                    text-align:center;

                    .home-link.mob,
                    .hambaga{
                        display:none;
                    }
                    ul{
                        li{
                            display:inline-block;
                            vertical-align:top;

                            a{
                                display: block;
                                text-decoration: none;
                                color: white;
                                line-height: 60px;
                                font-size: 16px;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                padding: 0 10px;
                                font-family: 'Open Sans Condensed', sans-serif;
                                text-shadow: 1px 1px 5px black;

                                &.home-link{
                                    font-family: 'Amatic SC', cursive;
                                    font-size: 30px;
                                }
                            }
                        }
                    }

                }
            }

            &.stuck{
                background-color: rgba(255,255,255,.7);
                border-bottom: 1px solid lightgrey;
                color:black;
                height:60px;
                -webkit-transition-duration: .1s;
                -moz-transition-duration: .1s;
                -ms-transition-duration: .1s;
                -o-transition-duration: .1s;
                transition-duration: .1s;
                text-shadow: none;

                .cntnt-wrp{
                    .cntnt{
                        ul{
                            li{
                                a{
                                    color: black;
                                    text-shadow: none;
                                }
                            }
                        }
                    }
                }

                &.still{
                    background-color: rgba(255,255,255,.9);
                }
            }
        }
        &.sctn-1{
            padding-top: 70px;
        }
        &.sctn-ftr{
            background-color: #f3f2f2;

            .cntnt{
                text-align: center;
                padding: 15px 0;

                a{
                    color:black;
                    text-decoration:none;
                    font-size: 14px;
                }
            }
        }
    }
    
}



