body, html{
	 height: 100%;
}
.pg-wrp{
	&.home-pg{
		.sctn{
			.cntnt-wrp{
				.cntnt{
					text-align:center;

					.title{
						max-width: 450px;
    					margin: 0 auto;
						border-bottom: 1px solid lightgrey;
					    padding: 0;
					    // padding: 0 20px;
					    padding-bottom: 10px;
				        margin-top: 10px;

	    		        h1{
	    		        	font-size: 40px;
	    		        	// font-size: 55px;
    						font-family: 'Rouge Script', cursive;
	    		        }
					}
					.sub-title{
						font-family: 'Amatic SC', cursive;
                        font-size: 30px;
                        margin-bottom: 10px;
					}
					.link{
						color: black;
					    text-decoration: none;
					    padding: 0 15px;
					    max-width: 450px;
					    display: block;
					    margin: 0 auto;
					    margin-top: 20px;

						&:hover{
							color:green;
						}
						
						p{
                            font-family: 'Open Sans Condensed', sans-serif;
                            font-size: 24px;
                            line-height: 30px;
                        }
					}

					.sctn-img{
						border: 5px solid white;
					    border-radius: 50%;
					    box-shadow: 1px 1px 10px rgba(0,0,0,.5);
				        width: 250px;
					    opacity: .9;
					    display: block;
					    margin: 0 auto;

						@media screen and (min-width: 640px) {
						  width: 300px;
						}
					}
				}
			}

			&.sctn-hdr{

	            &.stuck{
	                background-color: rgba(255,255,255,.7);
	                border-bottom: 1px solid lightgrey;
	                color:black;
	                height:60px;
	                -webkit-transition-duration: .1s;
	                -moz-transition-duration: .1s;
	                -ms-transition-duration: .1s;
	                -o-transition-duration: .1s;
	                transition-duration: .1s;
	                text-shadow: none;

	                .cntnt-wrp{
	                    .cntnt{
	                        ul{
	                            li{
	                                a{
	                                    color: black;
	                                    text-shadow: none;
	                                }
	                            }
	                        }
	                        .home-link{
	                        	&.mob{
	                        		color: black;
                                    text-shadow: none;
	                        	}
	                        }

	                        .hambaga-wrp{
	                        	.hambaga{
	                        		.lines {
                                    	border-bottom: 1px solid black;
                            		}
	                        	}
	                        }
	                    }
	                }

	                &.still{
	                    background-color: rgba(255,255,255,.9);
	                    ul{
                            &.active{
                                li{
                                    background-color: rgba(255,255,255,.9);
                                    @media screen and (min-width: 640px) {
	                                    background-color: transparent;
	                                }
                                }
                            }
                        }

	                }
	            }
	        }

			&.sctn-1{
				padding-top:0;

				.bg-img{
					.ovr-bg{
						background-color: rgba(143, 213, 247, 0.2);	
    					height: 100vh;
					    padding-top: 70px;

					    .cntnt{
						    text-align: center;

						    .headlines{
						    	padding-top: 20%;
						    	height: 100px;
 								text-shadow: 1px 1px 5px black;

						    	h1{
						    		font-family: 'Rouge Script', cursive;
					    		    font-size: 80px;
				    		        line-height: 70px;
						    		color:white;
						    	}
						    	p{
						    		color:white;
						    		font-family: 'Amatic SC', cursive;
					    		    font-size: 40px;
						    	}
						    }
						    
					    }
					}
					/* Full height */
					
					
					&.bg-1{
						background:url(../images/bg-1.jpg)center top no-repeat;
						background-size: cover;
					}
					&.bg-2{
						background:url(../images/bg-2.jpg)center top no-repeat;
						background-size: cover;

						.ovr-bg {
							.cntnt {
								.headlines {
									h1 {
										font-size:40px;

										@media screen and (min-width: 400px) {
											font-size:50px;
		                                }
		                                @media screen and (min-width: 500px) {
											font-size:65px;
		                                }
		                                @media screen and (min-width: 640px) {
											font-size:80px;
		                                }
									}
								}
							}
						}	
					}
					&.bg-3{
						background:url(../images/bg-3.jpg)center top no-repeat;
						background-size: cover;
						.ovr-bg{
							background-color: rgba(0, 172, 255, 0.2);

						}
					}
					// &.bg-4{
					// 	background:url(../images/bg-4.jpg)center top no-repeat;
					// 	background-size: cover;
					// }
					// &.bg-5{
					// 	background:url(../images/bg-5.jpg)center top no-repeat;
					// 	background-size: cover;
					// }


				}
			}


			&.sctn-2,
			&.sctn-3,
			&.sctn-4{
				.cntnt-wrp{
				    padding-top: 50px;
					margin-top: -50px;

    				.cntnt{
						padding-top: 40px;
						padding-bottom: 100px;	
    				}
				}
			}

			&.sctn-3,
			&.sctn-4{
				.cntnt-wrp{
    				.cntnt{
						margin-top: 30px;
					    padding-bottom: 100px;	
    				}
				}
			}

			&.sctn-2{
				.cntnt-wrp{
					.cntnt{
					    font-size: 20px;
    					margin-top: 30px;
					    

    					h2{
						    font-size: 20px;
						    margin-top: 30px;
    					}
					}
				}
			}

			&.sctn-3{
				background-color:#f6f7f6;

				.cntnt-wrp{
					.cntnt{

					}
				}
			}

			&.sctn-4{
				padding-top:40px;
				.cntnt-wrp{
					.cntnt{
    					.title{
    						margin-bottom:20px;
    					}

    					.splt-3{
    						display:block;
    						width:100%;
    						margin-bottom: 40px;
						    font-size: 15px;
						    font-family: 'Open San', sans-serif;

						    @media screen and (min-width: 800px) {
                                display: inline-block;
							    vertical-align: top;
							    width: 32%;
                            }


    						p{
    							line-height: 25px;
    							font-weight: 100;

    							a{
    								color:black;


    								&:hover{
    									color:green;
    								}
    							}
    							span{
								    display: block;
								    line-height: 18px;
								    font-size: 13px;

									&.discount{
								    	cursor:pointer;
								    }
								    &.hidden-code{
								    	display:none;
								    	&.active{
									    	display:block;
									    }
								    }
    							}
    						}

    						&.col-r{
    							p{
    								margin-bottom:10px;
    							}
    						}
    					}

					}
				}
			}
		}
	}

}